In [1]:
from datetime import datetime

In [2]:
now = datetime.now()
now

datetime.datetime(2019, 8, 21, 18, 42, 58, 912083)

In [3]:
now.year, now.month, now.day

(2019, 8, 21)

In [4]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta

datetime.timedelta(days=926, seconds=56700)

In [5]:
delta.days, delta.seconds

(926, 56700)

In [6]:
from datetime import timedelta

In [7]:
start = datetime(2011, 1, 7)

In [8]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [13]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

In [12]:
timedelta(12)

datetime.timedelta(days=12)

## Converting Between String and Datetime

In [15]:
stamp = datetime(2011, 1, 3)

In [16]:
str(stamp)

'2011-01-03 00:00:00'

In [17]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [18]:
value = '2011-01-03'

In [19]:
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [20]:
datestrs = ['7/6/2011', '8/6/2011']

In [21]:
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [22]:
from dateutil.parser import parse

In [23]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [24]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [26]:
parse('6/12/2011', dayfirst = True)

datetime.datetime(2011, 12, 6, 0, 0)

In [29]:
import pandas as pd
import numpy as np

In [27]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']

In [30]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [31]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [32]:
idx[2]

NaT

In [34]:
pd.isnull(idx)

array([False, False,  True])

# Time Series Basics

In [35]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [36]:
ts = pd.Series(np.random.randn(6), index = dates)
ts

2011-01-02   -0.012252
2011-01-05   -0.519645
2011-01-07    0.444216
2011-01-08    0.894459
2011-01-10   -1.203969
2011-01-12    0.440152
dtype: float64

In [37]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [38]:
ts + ts[::2]

2011-01-02   -0.024504
2011-01-05         NaN
2011-01-07    0.888432
2011-01-08         NaN
2011-01-10   -2.407939
2011-01-12         NaN
dtype: float64

In [39]:
ts.index.dtype

dtype('<M8[ns]')

In [40]:
stamp = ts.index[0]

In [41]:
stamp

Timestamp('2011-01-02 00:00:00')

### Indexing, Selection, Subsetting

In [42]:
stamp = ts.index[2]

In [43]:
ts[stamp]

0.4442158428573111

In [44]:
ts['1/10/2011']

-1.2039694491051431

In [46]:
ts['20110110']

-1.2039694491051431

In [47]:
longer_ts = pd.Series(np.random.randn(1000), index = pd.date_range('1/1/2000', periods = 1000))
longer_ts

2000-01-01    0.084269
2000-01-02    0.157580
2000-01-03    0.003913
2000-01-04   -0.505872
2000-01-05    0.980298
2000-01-06    0.395129
2000-01-07   -0.613044
2000-01-08   -0.595428
2000-01-09    1.275750
2000-01-10    0.718714
2000-01-11   -0.275576
2000-01-12   -0.673144
2000-01-13    0.034621
2000-01-14    2.512396
2000-01-15   -1.739900
2000-01-16   -0.768460
2000-01-17    1.480060
2000-01-18   -2.232216
2000-01-19    1.112508
2000-01-20   -0.486460
2000-01-21   -3.894004
2000-01-22    0.261862
2000-01-23   -0.306623
2000-01-24    0.161885
2000-01-25    1.033964
2000-01-26    0.993658
2000-01-27   -1.519129
2000-01-28    0.139773
2000-01-29    0.121256
2000-01-30   -1.360742
                ...
2002-08-28    0.086319
2002-08-29   -0.386028
2002-08-30   -1.377096
2002-08-31   -1.001915
2002-09-01    0.576997
2002-09-02   -0.126772
2002-09-03   -0.787139
2002-09-04    0.255664
2002-09-05   -0.265318
2002-09-06   -0.695295
2002-09-07    0.088809
2002-09-08    0.250032
2002-09-09   -1.332619
2002-09-10   -0.369799
2002-09-11   -0.996561
2002-09-12    0.418692
2002-09-13    0.679490
2002-09-14    1.244461
2002-09-15   -0.603458
2002-09-16    0.313443
2002-09-17   -2.906910
2002-09-18    0.414448
2002-09-19   -1.317930
2002-09-20   -1.013866
2002-09-21   -0.789389
2002-09-22    0.597254
2002-09-23    0.427386
2002-09-24    0.218048
2002-09-25    0.476039
2002-09-26   -0.607155
Freq: D, Length: 1000, dtype: float64

In [48]:
longer_ts['2001-05']

2001-05-01    1.202556
2001-05-02   -0.708073
2001-05-03    2.165681
2001-05-04   -1.298783
2001-05-05   -0.117180
2001-05-06    0.450295
2001-05-07   -0.569056
2001-05-08    1.241219
2001-05-09    0.924518
2001-05-10    0.553585
2001-05-11   -1.700929
2001-05-12    0.720367
2001-05-13   -0.477893
2001-05-14    0.224338
2001-05-15   -1.166763
2001-05-16    0.424689
2001-05-17    0.014494
2001-05-18   -0.239703
2001-05-19   -0.286185
2001-05-20    0.413165
2001-05-21   -1.104023
2001-05-22   -0.579121
2001-05-23   -1.506083
2001-05-24   -0.143975
2001-05-25   -1.522814
2001-05-26    1.642263
2001-05-27    0.326097
2001-05-28   -1.102753
2001-05-29   -0.304073
2001-05-30    0.320364
2001-05-31   -0.804468
Freq: D, dtype: float64

In [49]:
ts[datetime(2011,1,7):]

2011-01-07    0.444216
2011-01-08    0.894459
2011-01-10   -1.203969
2011-01-12    0.440152
dtype: float64

In [50]:
ts

2011-01-02   -0.012252
2011-01-05   -0.519645
2011-01-07    0.444216
2011-01-08    0.894459
2011-01-10   -1.203969
2011-01-12    0.440152
dtype: float64

In [51]:
ts['1/6/2011':'1/11/2011']

2011-01-07    0.444216
2011-01-08    0.894459
2011-01-10   -1.203969
dtype: float64

In [52]:
ts.truncate(after = '1/9/2011')

2011-01-02   -0.012252
2011-01-05   -0.519645
2011-01-07    0.444216
2011-01-08    0.894459
dtype: float64

In [55]:
dates = pd.date_range('1/1/2000', periods = 100, freq = 'W-WED')

In [56]:
long_df = pd.DataFrame(np.random.randn(100, 4), index=dates,
                       columns=['Colorado', 'Texas', 'New York', 'Ohio'])

In [57]:
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02 -0.815218 -0.525114  0.162427 -0.306178
2001-05-09  1.802515  1.246233  0.321907  0.726870
2001-05-16 -0.084751  1.148166  0.405336 -2.484557
2001-05-23  1.856454  0.453318 -1.060568  1.175736
2001-05-30 -0.233373 -0.577820  0.030153  0.730802

### Time Series with Duplicate Indices

In [58]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000', '1/2/2000',
                          '1/3/2000'])

In [59]:
dup_ts = pd.Series(np.arange(5), index = dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [62]:
dup_ts.index.is_unique

False

In [63]:
dup_ts['1/3/2000']

4

In [64]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

### grouping of non unique timestamps

In [65]:
grouped = dup_ts.groupby(level = 0)

In [66]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [67]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

# Date Ranges, Frequencies, and Shifting

In [68]:
ts

2011-01-02   -0.012252
2011-01-05   -0.519645
2011-01-07    0.444216
2011-01-08    0.894459
2011-01-10   -1.203969
2011-01-12    0.440152
dtype: float64

#### D is for daily

In [69]:
resampler = ts.resample('D')

In [70]:
resampler

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]

### Generating Date Ranges

In [71]:
index = pd.date_range('2012-04-01', '2012-06-01')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [72]:
pd.date_range(start = '2012-04-01', periods = 20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [74]:
pd.date_range(end = '2012-06-01', periods = 20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [75]:
pd.date_range(end = '2012-06-01', periods = 20, freq = 'BM')

DatetimeIndex(['2010-10-29', '2010-11-30', '2010-12-31', '2011-01-31',
               '2011-02-28', '2011-03-31', '2011-04-29', '2011-05-31',
               '2011-06-30', '2011-07-29', '2011-08-31', '2011-09-30',
               '2011-10-31', '2011-11-30', '2011-12-30', '2012-01-31',
               '2012-02-29', '2012-03-30', '2012-04-30', '2012-05-31'],
              dtype='datetime64[ns]', freq='BM')

In [76]:
pd.date_range('2012-05-02 12:56:31', periods = 5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

#### time noramlized to midnight

In [77]:
pd.date_range('2012-05-02 12:56:31', periods = 5, normalize = True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

## Frequencies and Date Offsets

In [78]:
from pandas.tseries.offsets import Hour, Minute

In [79]:
hour = Hour()
hour

In [80]:
four_hours = Hour(4)
four_hours

In [81]:
pd.date_range('2000-01-01', '2000-01-03 23:59', freq = '4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

#### combining offsets

In [82]:
Hour(2) + Minute(30)

In [83]:
pd.date_range('2000-01-01', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

###### week of month dates

In [85]:
rng = pd.date_range('2012-01-01', '2012-09-01', freq = 'WOM-3FRI')

In [86]:
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

### Shifting (Leading and Lagging) Data

In [87]:
ts = pd.Series(np.random.randn(4),
               index=pd.date_range('1/1/2000', periods=4, freq='M'))
ts

2000-01-31    0.801984
2000-02-29    0.223276
2000-03-31   -0.245954
2000-04-30   -1.005718
Freq: M, dtype: float64

In [88]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    0.801984
2000-04-30    0.223276
Freq: M, dtype: float64

In [89]:
ts.shift(-2)

2000-01-31   -0.245954
2000-02-29   -1.005718
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [90]:
ts / ts.shift(1) - 1

2000-01-31         NaN
2000-02-29   -0.721595
2000-03-31   -2.101570
2000-04-30    3.089044
Freq: M, dtype: float64

In [91]:
ts.shift(2, freq = 'M')

2000-03-31    0.801984
2000-04-30    0.223276
2000-05-31   -0.245954
2000-06-30   -1.005718
Freq: M, dtype: float64

In [92]:
ts.shift(3, freq = 'D')

2000-02-03    0.801984
2000-03-03    0.223276
2000-04-03   -0.245954
2000-05-03   -1.005718
dtype: float64

In [93]:
ts.shift(1, freq = '90T')

2000-01-31 01:30:00    0.801984
2000-02-29 01:30:00    0.223276
2000-03-31 01:30:00   -0.245954
2000-04-30 01:30:00   -1.005718
Freq: M, dtype: float64

### Shifting dates with offsets

In [96]:
from pandas.tseries.offsets import Day, MonthEnd

In [97]:
now = datetime(2011, 11, 17)

In [98]:
now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [99]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [100]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [101]:
offset = MonthEnd()

In [102]:
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [103]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [104]:
ts = pd.Series(np.random.randn(20),
               index=pd.date_range('1/15/2000', periods=20, freq='4d'))
ts

2000-01-15   -1.890138
2000-01-19   -0.617921
2000-01-23    0.707010
2000-01-27    0.780226
2000-01-31    0.240741
2000-02-04    1.464284
2000-02-08    1.802579
2000-02-12    0.799353
2000-02-16    1.312369
2000-02-20    0.789267
2000-02-24   -1.213691
2000-02-28   -1.088551
2000-03-03   -0.111752
2000-03-07   -0.005981
2000-03-11    0.969346
2000-03-15   -1.675939
2000-03-19   -0.102685
2000-03-23    1.315783
2000-03-27    1.180691
2000-03-31    1.435738
Freq: 4D, dtype: float64

In [105]:
ts.groupby(offset.rollforward).mean()

2000-01-31   -0.156016
2000-02-29    0.552230
2000-03-31    0.375650
dtype: float64

In [106]:
ts.resample('M').mean()

2000-01-31   -0.156016
2000-02-29    0.552230
2000-03-31    0.375650
Freq: M, dtype: float64

# Time Zone Handling

In [107]:
import pytz

In [108]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [109]:
tz = pytz.timezone('America/New_York')
tz

#### Time Zone Localization and Conversion

In [110]:
rng = pd.date_range('3/9/2012', periods = 6, freq = 'D')

In [112]:
ts = pd.Series(np.random.randn(len(rng)), index = rng)
ts

2012-03-09   -0.826232
2012-03-10    0.389182
2012-03-11    1.538694
2012-03-12   -0.408758
2012-03-13   -2.455625
2012-03-14    1.122781
Freq: D, dtype: float64

In [114]:
print(ts.index.tz)

None

In [119]:
pd.date_range('3/9/2012 9:30', periods = 10, freq = 'D', tz = 'UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [120]:
ts_utc = ts.tz_localize('UTC')
ts_utc

2012-03-09 00:00:00+00:00   -0.826232
2012-03-10 00:00:00+00:00    0.389182
2012-03-11 00:00:00+00:00    1.538694
2012-03-12 00:00:00+00:00   -0.408758
2012-03-13 00:00:00+00:00   -2.455625
2012-03-14 00:00:00+00:00    1.122781
Freq: D, dtype: float64

In [121]:
ts_utc.index

DatetimeIndex(['2012-03-09 00:00:00+00:00', '2012-03-10 00:00:00+00:00',
               '2012-03-11 00:00:00+00:00', '2012-03-12 00:00:00+00:00',
               '2012-03-13 00:00:00+00:00', '2012-03-14 00:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [122]:
ts_utc.tz_convert('America/New_York')

2012-03-08 19:00:00-05:00   -0.826232
2012-03-09 19:00:00-05:00    0.389182
2012-03-10 19:00:00-05:00    1.538694
2012-03-11 20:00:00-04:00   -0.408758
2012-03-12 20:00:00-04:00   -2.455625
2012-03-13 20:00:00-04:00    1.122781
Freq: D, dtype: float64

In [123]:
ts_eastern = ts.tz_localize('America/New_York')

In [124]:
ts_eastern.tz_convert('UTC')

2012-03-09 05:00:00+00:00   -0.826232
2012-03-10 05:00:00+00:00    0.389182
2012-03-11 05:00:00+00:00    1.538694
2012-03-12 04:00:00+00:00   -0.408758
2012-03-13 04:00:00+00:00   -2.455625
2012-03-14 04:00:00+00:00    1.122781
Freq: D, dtype: float64

In [125]:
ts_eastern.tz_convert('Europe/Berlin')

2012-03-09 06:00:00+01:00   -0.826232
2012-03-10 06:00:00+01:00    0.389182
2012-03-11 06:00:00+01:00    1.538694
2012-03-12 05:00:00+01:00   -0.408758
2012-03-13 05:00:00+01:00   -2.455625
2012-03-14 05:00:00+01:00    1.122781
Freq: D, dtype: float64

In [126]:
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2012-03-09 00:00:00+08:00', '2012-03-10 00:00:00+08:00',
               '2012-03-11 00:00:00+08:00', '2012-03-12 00:00:00+08:00',
               '2012-03-13 00:00:00+08:00', '2012-03-14 00:00:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq='D')

### Operations with Time Zoneâˆ’Aware Timestamp Objects

In [127]:
stamp = pd.Timestamp('2011-03-12 04:00')

In [128]:
stamp_utc = stamp.tz_localize('utc')

In [130]:
stamp_utc.tz_convert('America/New_York')

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

In [131]:
stamp_moscow = pd.Timestamp('2011-03-12 04:00', tz='Europe/Moscow')

In [132]:
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')